@charset "utf-8";

/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Noto+Sans+KR:wght@300;700&family=Unna&display=swap');

/* 레이아웃 */
body { font-family: 'Noto Sans KR', sans-serif; font-size: 14px; color: #000; line-height: 1.4;}
.wrap { width: 100%; margin: 0 auto; overflow: hidden; }
.en { font-family: 'Unna', serif; }
.en_1 { font-family: 'Maven Pro', sans-serif; }

/* 헤더 */
header { 
    width: 100%; padding: 0 40px; box-sizing: border-box; 
    height: 100px; line-height: 100px; color: #fff; z-index: 100;
    position: fixed; top: 0;
} 

/* 헤더 - 햄버거 메뉴 */
header .menuOpen { 
    display: inline-block; 
    position: absolute; top: 50%; transform: translateY(-50%);
    width: 40px; height: 16px; line-height: 100px;
}
header .menuOpen span { 
    display: block; width: 100%; height: 1px; background-color: #fff;
    position: absolute; top: 0; left: 0;
}
header .menuOpen span.mid { top: 50%; }
header .menuOpen span.bot { top: 100%; }

/* 헤더 - 타이틀 */
header .title { 
    display: inline-block; float: left; margin-left: 70px; 
    height: 100%; font-size: 25px;
}

/* 헤더 - 언어선택 */
header .langs { float: left; margin-left: 220px; overflow: hidden; width: 150px; }
header .langs li { float: left; width: 50%; }
header .langs li:nth-child(1) { font-weight: bold; }
header .langs li:nth-child(2) { color: #ddd; }
header .langs li a { 
    display: block; padding: 0 30px; box-sizing: border-box; text-transform: uppercase;
}

/* 헤더 - 예약 번호 */
header .right { float: right; }
header .right li { float: left; margin-right: 55px; }
header .right li p { letter-spacing: 1px; }

/* 섹션 - 이미지 슬라이드 */
section.visual { color: #fff; }
section.visual .slide {}
section.visual .slide li { position: relative; width: 100%; height: 100vh; }
section.visual .slide li img { position: absolute; right: 0; top: 0; width: 100%; }

/* 이미지 위에 텍스트 */
section.visual .slide .mainText { 
    position: absolute; top: 35%; right: 18%; width: 25%; 
    background-color: rgba(0,0,0,0.5); padding: 30px;
}
/* 이미지 위 텍스트 - 제목 */
section.visual .slide .mainText strong { 
    display: block; font-size: 50px; margin-bottom: 30px; font-weight: 500;
    letter-spacing: 2px; opacity: 1;
}

/* 이미지 위 텍스트 - 내용 */
section.visual .slide .mainText > p {
    font-size: 20px; font-weight: normal; line-height: 1.8; margin-bottom: 70px;
}
section.visual .slide .mainText .num { 
    position: relative; font-size: 30px; font-weight: bold; margin-bottom: 30px;
 }
section.visual .slide .mainText .num span {
    position: absolute; top: -10px; display: inline-block; padding: 10px 4px; opacity: 0;
}
section.visual .slide .mainText .message {
    font-size: 26px; line-height: 1.2;
}

/* 이미지 위 텍스트 애니메이션 */


/* 현재 활성화된 슬라이드 (.slick-active) */
section.visual .slide .slick-active .mainText strong {
    animation: slide-up 3s;
}
section.visual .slide .slick-active .mainText > p {
    animation: slide-up 1.5s;
}

@keyframes slide-up {
    0% { opacity: 0; }
    20% { opacity: 0; transform: translateY(10px);}
}

section.visual .slide .slick-active img {
    animation: zoom 4.5s;
}

@keyframes zoom {
    0% { transform: scale(1.2); opacity: 0.8; }
}

/* 슬라이드 번호 */
section.visual .slide .slick-active .mainText .num span {
    animation: trans 4.5s;
}

@keyframes trans {
    0% { opacity: 0; transform: translateY(15px); }
    30% { opacity: 1; transform: translateY(0); }
    70% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-15px); }
}

/* 슬라이드 하단 공통 메뉴 */
section.visual .menu { 
    position:absolute; left: 4%; bottom: 7%; 
    padding-bottom: 7px; overflow: hidden; 
    font-size: 21px;
}
section.visual .menu::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    animation: bar 4.5s infinite;
}

/* @keyframs :애니메이션의 구간을 지정하는 속성 */
@keyframes bar {
    0% { width: 0%; }
}


section.visual .menu li { float: left; padding-right: 20px; } 
section.visual .menu li:nth-child(2) { padding-right: 130px; }
section.visual .menu li:nth-child(3) { padding-right: 0; }
section.visual .menu li span i { display: inline-block; margin-right: 10px; font-size: 18px; }
section.visual .menu li:nth-child(2) span i { margin-right: 22px; }
section.visual .menu li p { font-size: 28px; }


/* 섹션 - 룸 소개 영역 (introduce) */
section.introduce { width: 88%; margin: 130px auto 0; }
section.introduce .title { font-size: 32px; line-height: 1.6; margin-bottom: 100px; }
section.introduce .roomInfo { width: 100%; height: 884px; position: relative; }
section.introduce .roomInfo .tab { 
    width: 380px; text-transform: uppercase; margin-bottom: 40px; overflow: hidden;
}
section.introduce .roomInfo .tab li {
    float: left; width: 40%; margin-right: 3%;
}
section.introduce .roomInfo .tab li:nth-child(2) { margin-right: 0; }
section.introduce .roomInfo .tab li a {
    display: block; width: 100%; height: 100%; font-size: 16px;
}

/* 텍스트 아래 라인 애니메이션 효과 */
section.introduce .roomInfo .tab li a span {
    display: inline-block; position: relative; padding: 10px 0; box-sizing: border-box;
}
section.introduce .roomInfo .tab li a span:after {
    content: ''; position: absolute; left: 0; bottom: 0; width: 0%; height: 2px;
    background-color: #a68164; transition: all 0.5s;
}
/* 탭 메뉴에 마우스 호버 시, 텍스트 아래 라인 적용 */
section.introduce .roomInfo .tab li a span:hover:after {
    width: 100%;
}

/* 탭 박스 */
section.introduce .roomInfo .tabBox {
    width: 100%; position: absolute; top: 11%;
    display: none;
}

/* 탭 박스 선택 */
section.introduce .roomInfo .tabBox.on { display: block; }

section.introduce .roomInfo .tabBox .deluxe {
    overflow: hidden; width: 100%;
}
section.introduce .roomInfo .tabBox .deluxe .photo {
    float: left; width: 60%; position: relative;
}
section.introduce .roomInfo .tabBox .deluxe .photo img { width: 100%; }
/* 이미지 위의 텍스트 */
section.introduce .roomInfo .tabBox .deluxe .photo .showBox {
    width: 25%; position: absolute; left: 8%; bottom: 18%;
    color: #fff; letter-spacing: 1.5px;
}
section.introduce .roomInfo .tabBox .deluxe .photo .showBox .name {
    padding-bottom: 15px; box-sizing: border-box;
    border-bottom: 1px solid rgba(235, 235, 235, 0.33); 
    margin-bottom: 10px; position: relative;
}

section.introduce .roomInfo .tabBox .deluxe .photo .showBox .name::after {
    content: ''; width: 100%; height: 1px; background-color: #fff;
    position: absolute; left: 0; bottom: 0; animation: bar 4.5s;
}
section.introduce .roomInfo .tabBox .deluxe .photo .showBox .btn {
    letter-spacing: 1px; margin-bottom: 10px;
}

/* 룸 설명 영역 */
section.introduce .roomInfo .tabBox .deluxe .txtinfo {
    float: right; width: 40%; text-align: center; margin-top: 180px;
}

section.introduce .roomInfo .tabBox .deluxe .txtinfo .titBox {
    margin-bottom: 120px;
}

section.introduce .roomInfo .tabBox .deluxe .txtinfo .titBox h3 {
    font-size: 35px; font-weight: normal; letter-spacing: 1px; margin-bottom: 30px;
}
section.introduce .roomInfo .tabBox .deluxe .txtinfo .titBox p {
    font-size: 17px; color: #604d3e;
}

section.introduce .roomInfo .tabBox .deluxe .txtinfo .inner_detail li {
    margin-bottom: 50px; 
}
section.introduce .roomInfo .tabBox .deluxe .txtinfo .inner_detail li span {
    display: block; margin-bottom: 20px; color: #a68164;
}
section.introduce .roomInfo .tabBox .deluxe .txtinfo .inner_detail li p {
    font-size: 17px;
}

/* 섹션 - 룸 소개영역 - 스크롤 애니메이션 적용 */
@keyframes slide-up2 {
    0% { opacity: 0; }
    20% { opacity: 0; transform: translateY(40px); }
}

section.introduce .title.motion { animation: slide-up2 1.2s; }
section.introduce .roomInfo.motion { animation: slide-up2 0.8s; }
section.introduce .roomInfo.motion .tabBox .deluxe .photo .showBox .name {
    animation: slide-up2 2s;
}
section.introduce .roomInfo.motion .tabBox .txtinfo h3{ animation: slide-up2 1.4s; }
section.introduce .roomInfo.motion .tabBox .txtinfo p { animation: slide-up2 1.6s; }
section.introduce .roomInfo.motion .tabBox .txtinfo .inner_detail li { 
    animation: slide-up2 2s 0.2s; 
}
section.introduce .roomInfo.motion .tabBox .txtinfo .inner_detail li:nth-child(2) { 
    animation: slide-up2 2.2s 0.3s; 
}
section.introduce .roomInfo.motion .tabBox .txtinfo .inner_detail li:nth-child(3) { 
    animation: slide-up2 2.4s 0.4s; 
}

/* 섹션 - offer */
section.offer { width: 87%; margin: 200px auto 100px; }
section.offer h2 { font-size: 30px; line-height: 1.7; font-weight: 500; margin-bottom: 15px; } 
section.offer .findBtn { display: block; font-size: 15px; color: #a68164; margin-bottom: 35px; }
section.offer .new { width: 100%; overflow: hidden; }
section.offer .new li { float: left; width: 23.5%; margin-right: 2%; }
section.offer .new li:nth-child(4) { margin-right: 0;}
section.offer .new li p.img { width: 100%; margin-bottom: 35px; height: 100%; overflow: hidden; }
section.offer .new li p.img a { display: block; width: 100%; height: 100%; }
section.offer .new li p.img a:hover img { transform: scale(1.2); transition: all a.5s; }
section.offer .new li p.img img { width: 100%; transition: all 0.3s; }
section.offer .new li span { display: block; margin-bottom: 20px; }
section.offer .new li h3 { font-size: 20px; letter-spacing: -1px; font-weight: 500; margin-bottom: 15px;}
section.offer .new li .hashTag {font-size: 15px; letter-spacing: -1px; color: #a68164; height: 100px;}
section.offer .new li > a { 
    display: inline-block; font-size: 15px; color: #a68164;
    position: relative; padding: 5px 0; 
}
section.offer .new li > a::after {
    content: ''; width: 0; height: 1px; 
    position: absolute; left: 0; bottom: 0; 
    background-color: #a68164;
    transition: all 0.5s;
}
section.offer .new li > a:hover::after { width: 100%; }


/* offer 영역 - 스크롤 애니메이션 */
section.offer h2.motion { animation: slide-up2 0.8s; }
section.offer .findBtn.motion { animation: slide-up2 1.2s; }
section.offer li:nth-child(1).motion { animation: slide-up2 1.2s; }
section.offer li:nth-child(2).motion { animation: slide-up2 1.8s; }
section.offer li:nth-child(3).motion { animation: slide-up2 2.4s; }
section.offer li:nth-child(4).motion { animation: slide-up2 3.0s; }


/* 섹션 - dining */
section.dining { width: 100%; overflow: hidden; background: #d7cdc5; height: 900px;}
section.dining .slide2 { float: left; width: 50%; }
section.dining .slide2 li { width: 100%; position: relative;}
section.dining .slide2 li img { width: 100%; }
/* 이미지 위의 텍스튼 */
section.dining .slide2 li .slide_txt { 
    position: absolute; left: 8%; bottom: 19%; color: #fff;
}
section.dining .slide2 li .slide_txt h3 {
    font-size: 35px; font-weight: normal; letter-spacing: 3px; margin-bottom: 30px;
}
section.dining .slide2 li .slide_txt p { 
    font-size: 18px; line-height: 1.7; margin-bottom: 45px;
}

/* view more 버튼 */
section.dining .slide2 li .slide_txt a {
    display: block; width: 150px; background-color: #a68164; padding: 12px 20px;
    text-align: center; position: relative; z-index: 1;
}

/* view more 버튼 - 애니메이션 효과 */
section.dining .slide2 li .slide_txt a::after {
    content: ''; width: 100%; height: 0; background-color: #604d3e;
    position: absolute; top: 0; left: 0;
}
section.dining .slide2 li .slide_txt a:hover::after {
    height: 100%; transition: height 0.5s ease; z-index: -1;
}

/* 오른쪽 텍스트 커버 영역 */
section.dining .intro_diningTxt { 
    float: left; width: 50%; padding: 80px 0 0 80px; box-sizing: border-box;
}
section.dining .intro_diningTxt h3 {
    font-size: 25px; font-weight: 500; line-height: 1.7; margin-bottom: 520px;
}
section.dining .intro_diningTxt p {
    font-size: 15px; color: #a68164; line-height: 1.6;
}


/* 다이닝 영역 - 슬라이드 애니메이션 - .slick-active */
section.dining .slide2 .slick-active .slide_txt h3 { animation: slide-up2 1.0s; }
section.dining .slide2 .slick-active .slide_txt p { animation: slide-up2 1.2s; }
section.dining .slide2 .slick-active .slide_txt a { animation: slide-up2 1.8s; }
/* 다이닝 영역 - 스크롤 애니메이션 */
section.dining .intro_diningTxt.motion h3 { animation: slide-up2 2.6s; }


/* 섹션 : .greetings */
section.greetings { width: 100%; text-align: center; margin: 100px 0 100px; }
section.greetings h2 { font-size: 17px; font-weight: normal; color: #a68164; margin-bottom: 60px;}
section.greetings h3 { font-size: 32px; line-height: 1.6; font-weight: 500; margin-bottom: 50px; }
section.greetings a {
    display: block; width: 150px; margin: auto; text-align: center;
    border: 1px solid #a68164; padding: 12px 20px;
}

/* 섹션 : .notice */
section.notice { width: 100%; border-top: 1px solid #d3cdb7; overflow: hidden; }
section.notice .title_wrap { 
    width: 7%; height: 395px; float: left;
    border-radius: 1px solid #e3dbd7; box-sizing: border-box; position: relative;
}
section.notice .title_wrap .inner {
    font-size: 20px; text-align: center;
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
}
section.notice .title_wrap .inner .news_title {
    transform: rotate(-90deg); width: 200px;
}
section.notice .title_wrap .inner .news_title a { display: block; color: #604d3e; font-size: 16px; }

/*  */
section.notice .notice_list li {
    float: left; width: 33.3333%; padding-right: 30px; box-sizing: border-box;
}
section.notice .notice_list li .data {
    display: block; text-align: right; font-size: 38px; 
}

/*  */
section.notice .notice_list li .textBox { width: 80%; }
section.notice .notice_list li .textBox strong {}
section.notice .notice_list li .textBox .list_txt {}
section.notice .notice_list li .textBox a.more {}
section.notice .notice_list li .textBox a.more::after {}
section.notice .notice_list li .textBox a.more:hover:after {}